.container-bazz {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../images/temple.jpg');
  background-size: cover;
  /* 画像を要素に合わせて表示 */
  background-position: center;
  /* 画像を中央に配置 */
  color: #333;
}

.chat-history-container-bazz {
  overflow-y: auto;
  flex-grow: 1;
  padding: 20px;
  background-color: rgba(244, 244, 244, 0.4);
  border: 3px solid #ccc;
  /* 外枠線を追加 */
  border-radius: 10%;
}
