.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 半透明の黒背景 */
  z-index: 1000;
  /* 他の要素よりも上に表示 */
}

.popup-main {
  position: relative;
  margin: 50px auto;
  /* 画面中央に表示 */
  padding: 20px;
  background-color: #fff;
  width: 80%;
  max-width: 600px;
  /* 最大幅 */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* 影の設定 */
  display: flex;
  flex-direction: column;
  /* 子要素を縦に配置 */
}

.popup-main .popup-video {
  width: 100%;
  /* 動画の幅を100%に設定 */
}

.popup-main button {
  margin-top: 20px;
  /* ボタンと動画の間に余白を追加 */
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #333333;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  align-self: flex-end;
  writing-mode: horizontal-tb;
  width: 100px;
  /* 幅を変更する */
  height: 40px;
  /* 高さを変更する */
}

.popup-main button:hover {
  background-color: #333333;
  color: #ffffff;
}

.popup.display-block {
  display: block;
}

.popup.display-none {
  display: none;
}
