* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f3f5;
  color: #333;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container {
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
  margin: 10px auto;
  pointer-events: none;
}

.chat-container {
  position: relative;
  height: calc(100vh - 330px);
  padding: 5px;
  max-width: 1300px;
  margin: 260px auto 120px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow-y: auto;
}

.clear-history {
  position: sticky;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: #797474;
  color: white;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
}

.clear-history:hover {
  background-color: #79747479;
}

.user-icon-with-name {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.user-name {
  font-size: 13px;
}

.message {
  max-width: 90%;
  margin: 9px auto;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: #fff;
  text-align: left;
}

.user-message {
  background-color: rgb(186, 218, 225);
}

.gpt-message {
  background-color: rgb(178, 178, 178);
}

.transcript-and-send-container {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  background-color: #d4d4d4;
  align-items: center;
}

.textarea-container {
  position: relative;
  width: 70%;
}

textarea {
  width: 100%;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  background-color: #fff;
  height: 40px;
  border-radius: 10px;
  padding: 10px 30px 10px 10px;
  margin: 0 5px;
}

textarea:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(42, 62, 83, 0.5);
}

button {
  width: 40px;
  height: 40px;
  margin: 0 3px;
  border: none;
  border-radius: 20%;
  background-color: rgb(26, 149, 250);
  cursor: pointer;
}

button:hover {
  filter: brightness(90%);
}

.clear-btn {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: #999;
  font-size: 16px;
}

.start-btn {
  margin-left: 10px;
  background-color: #ffffff;
}

.start-btn:hover {
  background-color: #fb4646b5;
}

.stop-btn {
  margin-left: 10px;
  background-color: #fb4646b5;
}

.language {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-btn {
  color: white;
  font-size: 20px;
  background-color: #979797;
}

.language-btn.selected {
  background-color: #007bff;
}

.icon {
  font-size: 24px;
}

.header {
  font-family: 'Arial', sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-top: 50px;
}

.header span {
  color: #FF4081;
  /* オシャレな色に変更 */
  font-weight: bold;
  font-size: 3.5rem;
  letter-spacing: 2px;
}

/* モバイルフレンドリーなスタイル */
@media (max-width: 600px) {
  .container {
    margin: 0;
    padding: 0;
  }

  .video-and-chat-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 20px);
    overflow-y: auto;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 40%;
    padding-top: 40%;
    /* 16:9のアスペクト比を維持するために必要なパディング */
    /* overflow: hidden; */
  }

  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .chat-container {
    margin-top: 10px;
    /* 動画との間に余白を設定 */
    padding: 10px;
    max-width: none;
    height: calc(100vh - 56.25vw - 20px);
    /* 動画とチャットの高さの合計が100vhを超えないように調整 */
    overflow-y: auto;
    /* コンテナの高さがコンテンツを超えた場合にスクロール可能にする */
  }

  .clear-history {
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
  }

  .user-icon {
    width: 20px;
    height: 20px;
    margin-right: 3px;
  }

  .user-name {
    font-size: 11px;
  }

  .message {
    max-width: 80%;
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }

  .textarea-container {
    width: 60%;
  }

  textarea {
    height: 30px;
    font-size: 12px;
  }

  button {
    width: 30px;
    height: 30px;
    margin: 0 2px;
    border-radius: 15%;
  }
}
